<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sergey.handbook">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".launch.LaunchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:theme="@style/FullscreenTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cb28911d54dd2b0c5c1ce8f67300354e4432105f" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".contact_info.ContactInfoActivity"
            android:label="@string/title_activity_contact_info"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sergey.handbook.main.MainActivity" />
        </activity>
        <activity
            android:name=".info.InfoActivity"
            android:label="@string/title_activity_info"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <provider
            android:authorities="com.sergey.handbook.SuggestionProvider"
            android:name=".SuggestionProvider"
            android:exported="false"/>
    </application>

</manifest>